body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box{
  /* width: 200px; */
  height: 100%;
  position: relative;
  text-align: center;
}

.box:hover .tip{
  display: block;
}

.tip{
  display: none;
  height:50%;
  position: absolute;
  bottom:40px;
}

.buttonInside{
  width:60%;
  background-color: white;
  border: 2px solid green;
  height: 40px;
  margin:0px;
}

.buttonInside:hover{
  background-color:mediumaquamarine;
}